<!DOCTYPE html>
<html>
<head>
    
</head>
<body>
    <h1>Login </h1>
    <p></p>
    <p></p>
    <p></p>
        <h3>Please enter your login details !</h3>
        <p></p>
        <p></p>
        <form method="get">
            <label for="email" >Email: </label>
            <input type="text" id="email" name="email" value="{{ email }}"><br><br>
            <label for="passwd" >Password: </label>
            <input type="text" id="passwd" name="passwd" value="{{ passwd }}"><br><br>
            <input type="submit" value="login">
        </form>
    </body>
</html>